@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
  }

  input, textarea {
    font-size: 16px; /* Or another preferred font size */
  }

  input,textarea:focus{
    outline: none;
    overflow: hidden;
  }